.container {
    width: 600px;
    height: 600px;
}

.row {
    display: flex;
    justify-content: center;
    
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid red;
}

.cell-hovered {
    background-color: red;
}