*{margin: 0; padding: 0; box-sizing: border-box;}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: wheat;
    margin: 100px auto;
}

.cell {
    border: 1px solid red;
}

.cell-hovered {
    background-color: red;
}